<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data table</li>
    
    </ol>
  </nav>
   
  
   
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Merchant</h6>
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  
                  <th>Title</th>
                  <th>Location</th>
                  <th>Status</th>
                  
                  <th>Theme</th>  
                  
                  <th>Actions</th> 
                </tr>   
              </thead>   
              <tbody *ngFor="let merchant of list, let i=index">
    <tr >
      
       
      <td> {{merchant.title}} </td> 
                  
      <td> {{merchant.location}} </td>
      
      <td> {{merchant.isValid}} </td>
      
      <td> {{merchant.theme}} </td>  
                   
                    <td>
     
    
          
                      <button type="button" class="btn btn-outline-info" (click)="Verify(merchant.email)">V </button>
                      
                      <button type="button" class="btn btn-outline-info" (click)="NotVerify(merchant.email)">NV </button>
                
                      <button type="button" class="btn btn-outline-info">View </button>
                 
                    </td>
    </tr>
  </tbody>
              
       
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>