<nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Services</a></li>
      <li class="breadcrumb-item active" aria-current="page">Transport Service </li>
    
    </ol>
  </nav>
   
  
   
  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Transport Service</h6>
           
          <div class="table-responsive">
            <table id="dataTableExample" class="table">
              <thead>
                <tr>
                  
                  <th>Vehicule Name</th>
                  <th>Seats</th>
                  <th>Type</th>
                  
                  <th>Gouvernorate</th>
                  
                  <th>Status</th>
                  <th>Actions</th> 
                   
                </tr>   
              </thead>   
              <tbody *ngFor="let transport of list, let i=index">
    <tr >
      
       
      <td> {{transport.vehuculeName}} </td> 
                  
      <td> {{transport.numberOfSeatd}} </td>
      
      <td> {{transport.type}} </td>  
       
      <td> {{transport.gouvernorate}} </td>
      
      <td> {{transport.status}} </td> 
      
      <td>
        
        <button type="button" class="btn btn-outline-info" (click)="Verify(transport.transportId)">V </button>
                    
        <button type="button" class="btn btn-outline-info" (click)="NotVerify(transport.transportId)">NV </button>
  
        <button type="button" (click)="deleteTransportService(transport.transportId)"  class="btn btn-danger">Delete</button>
      
      </td>
                   
                 
    </tr>
  </tbody>
              
       
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>