<div class="flex flex-col justify-center text-center">
    <div class="bg-AddExperience z-0"></div>
    <div class="flex flex-col mt-20 w-full h-full z-10">
        <span class="font-bold text-4xl leading-10 text-white mt-20 mb-4">CREATE AN EXPERIENCE </span>
        <app-stepperexp [current]="step" [length]="isselected == 'organisation' ? 5 : 5" [labels]="getlabels()">
        </app-stepperexp>
        <ng-container>
            <form [formGroup]="Form1Experience" *ngIf="step == 1">
                <div class="flex justify-center w-full mt-10">
                    <div class="grid grid-cols-3 gap-5 justify-center max-w-2xl">
                        <div class="flex flex-col items-start w-full">
                            <span class="font-semibold text-base leading-5 text-white "> Experience Title :</span>
                            <div class=" rounded-lg bg-white px-4 py-1 shadow-md mt-1 items-center gap-4 w-full">
                                <input type="text" name="CompanyName" class="outline-none  h-8 w-full"
                                    formControlName="title" placeholder="Experience Title" required>
                            </div>
                        </div>
                        <div class="flex flex-col items-start w-full">
                            <span class="font-semibold text-base leading-5 text-white "> Theme :</span>
                            <div class=" rounded-lg bg-white  shadow-md mt-1 items-center gap-4 w-full">
                                <p-dropdown placeholder="Theme" class="outline-none w-full h-9 text-left"
                                    optionLabel="name" formControlName="theme" [options]="SeasonType"
                                    [(ngModel)]="SelectedSeason" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="flex flex-col items-start w-full">
                            <span class="font-semibold text-base leading-5 text-white ">Sub Theme :</span>
                            <div class=" rounded-lg bg-white  shadow-md mt-1 items-center gap-4 w-full">
                                <p-dropdown placeholder="SubTheme" class="outline-none h-8 w-full text-left"
                                    [options]="SeasonType" [(ngModel)]="SelectedSeason" optionLabel="name"
                                    formControlName="subTheme" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                        <div class="flex flex-col items-start w-full">
                            <span class="font-semibold text-base leading-5 text-white ">Location :</span>
                            <div class=" rounded-lg bg-white px-4 py-1 shadow-md mt-1 items-center gap-4">
                                <input type="text" class="outline-none w-full h-8 " placeholder="Experience Location "
                                    formControlName="location" required>

                            </div>
                        </div>
                        <div class="flex items-start w-full gap-4">
                            <div class="flex flex-col items-start w-full">
                                <span class="font-semibold text-base leading-5 text-white ">Price :</span>
                                <div class=" rounded-lg bg-white px-4 py-1 shadow-md mt-1 items-center gap-4">
                                    <input type="text" class="outline-none w-full h-8 " required
                                        formControlName="price">
                                </div>
                            </div>
                            <div class="flex flex-col items-start w-full">
                                <span class="font-semibold text-base leading-5 text-white ">Unit :</span>
                                <div class=" rounded-lg bg-white px-4 py-1 shadow-md mt-1 items-center gap-4 w-full">
                                    <input type="text" class="outline-none w-full h-8" required
                                        formControlName="priceUnit">
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col items-start w-full">
                            <span class="font-semibold text-base leading-5 text-white ">Spots :</span>
                            <div class=" rounded-lg bg-white shadow-md flex items-center mt-1 gap-4 w-full ">
                                <div class="field md:col-3 ">
                                    <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                        formControlName="spots" [min]="1" [max]="10000">
                                    </p-inputNumber>
                                </div>

                            </div>
                        </div>
                        <div class="flex flex-col items-start w-full">
                            <span class="font-semibold text-base leading-5 text-white ">Maps Link :</span>
                            <div class=" rounded-lg bg-white px-4 py-1 shadow-md mt-1 items-center gap-4 w-full">
                                <input type="text" class="outline-none w-full h-8" placeholder="Map Link" required
                                    formControlName="mapLocation">
                            </div>
                        </div>
                        <div class="flex flex-col items-start">
                            <span class="font-semibold text-base leading-5 text-white">Experience Photos :</span>
                            <div class="rounded-xl px-4 py-1 shadow-md mt-1 items-center gap-4">
                                <p-dialog [(visible)]="displayBasic" [modal]="true" [style]="{ width: '45vw' }"
                                    [baseZIndex]="10000" [draggable]="false" [resizable]="false" class="rounded-3xl">
                                    <app-add-photos-exp [(expPictures)]="expPictures"></app-add-photos-exp>
                                </p-dialog>
                                <button
                                    class=" bg-white rounded-2xl font-bold text-red-500 items-start border-red-500 w-24 h-9 border-1"
                                    (click)="showBasicDialog2()">Photos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
        <ng-container>
            <div class="flex flex-col md:flex-col justify-center w-full">
                <form [formGroup]="Form2Experience" *ngIf="step == 2">
                    <div class="flex-1 h-full max-w-4xl mt-5 mx-auto ">
                        <div class="flex flex-col gap-5 md:flex-row">
                            <div class="flex flex-col justify-center w-full mt-5">
                                <div class="flex flex-col items-start w-full">
                                    <span class=" leading-2 text-white font-bold text-sm "> What are the plans for the
                                        participants? </span>
                                    <span class=" leading-5 text-white  text-xs "> • Offer a precise plan from start to
                                        finish.</span>
                                    <span class=" leading-5 text-white  text-xs "> • Describe how your experience is
                                        unique to your participants. </span>
                                </div>

                                <div class="flex flex-col items-start w-full mt-4">
                                    <textarea
                                        class="form-control p-2 block  w-[450px] h-24 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-md
                                          transition ease-in-out m-0  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                        id="exampleFormControlTextarea1" rows="3" formControlName="description"
                                        placeholder="Explain to the participents the course of your experience"></textarea>
                                </div>
                                <div class="flex flex-row gap-4 mt-4">
                                    <div class="flex flex-col items-start ">
                                        <div class="flex flex-col items-start ">
                                            <span class="font-semibold text-base leading-5 text-white "> Type of Date
                                                :</span>
                                            <div class=" rounded-lg bg-white shadow-md items-center gap-4 w-40 mt-2">
                                                <p-dropdown placeholder="Type Date" class="outline-none w-full h-8"
                                                    optionLabel="name" [options]="dateType" [showClear]="true"
                                                    formControlName="datType" [(ngModel)]="SelectedDate"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col items-start ">
                                        <div class="flex flex-col items-start ">
                                            <span class="font-semibold text-base leading-5 text-white "> Season :</span>
                                            <div class=" rounded-lg bg-white shadow-md mt-2 items-center gap-4 w-48">
                                                <p-dropdown placeholder=" Season" class="outline-none w-full h-8"
                                                    optionLabel="name" [showClear]="true" formControlName="season"
                                                    [options]="SeasonType" [(ngModel)]="SelectedSeason"></p-dropdown>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="flex flex-col justify-center w-full mt-5">

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </ng-container>
        <ng-container>
            <form *ngIf="step == 3">
                <div class="flex flex-col mt-14 mb-12 justify-center ">
                    <div class="grid grid-row-2 gap-4 justify-center ">
                        <div class="items-start">
                            <span class="font-semibold text-base leading-5 items-start text-white"> Fill in this Form
                            </span>
                        </div>
                        <div class="items-start ">
                            <p-dialog [(visible)]="displayActivity" [modal]="true" [style]="{ width: '450px'}"
                                [baseZIndex]="10000" [draggable]="false" [resizable]="false" class="rounded-3xl">
                                <form [formGroup]="AddActivity">
                                    <div class=" flex items-center justify-center p-6 sm:p-12">
                                        <div class=" w-full">
                                            <div class="mt-4">
                                                <span class="font-semibold text-base leading-5 flex items-start ">
                                                    Activity :</span>
                                                <div
                                                    class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-4">
                                                    <input type="text" class="form-control outline-none  h-8"
                                                        placeholder="Activity" formControlName="title">
                                                </div>
                                               
                                                <button
                                                    class=" verif-button block w-full px-4 py-2 mt-4 leading-5 text-center">
                                                    Delete
                                                </button>
                                                <button
                                                    class=" primary-button block w-full px-4 py-2 mt-4 leading-5 text-center "
                                                    (click)="addActivity()">
                                                    Confirm
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </p-dialog>
                            <button
                                class=" bg-white rounded-2xl font-bold text-red-500 items-start border-red-500 w-44 h-9 border-1"
                                (click)="showActivity()">Add an activity</button>
                            <app-add-activity *ngFor="let activity of activities" [activity]="activity"
                                (delete)="deleteActivity(activity)"></app-add-activity>
                        </div>
                    </div>
                </div>
            </form>
        </ng-container>
        <ng-container>
            <div class="flex flex-col md:flex-col justify-center w-full">
                <form *ngIf="step == 4">
                    <div class="flex-1 h-full max-w-4xl mt-5 mx-auto ">
                        <div class="flex flex-col gap-5 md:flex-row">
                            <div class="flex flex-col justify-center w-full mt-5 gap-10">
                                <div class="flex flex-row  items-start w-full gap-x-14">
                                    <span class=" leading-2 text-white font-bold text-sm "> Does your experience include
                                        food ? </span>
                                    <label for="red-toggle1"
                                        class="inline-flex relative items-center mr-5 cursor-pointer gap-4">
                                        <input type="checkbox" value="ch1" id="red-toggle1" class="sr-only peer"
                                            (change)="toggleButton()">
                                        <div
                                            class="w-28 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4  peer-focus:ring-red-300 
                                        dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white 
                                        after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border 
                                        after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-500">
                                        </div>
                                    </label>
                                </div>
                                <div class="flex justify-start">
                                    <button class="verify-buttonexp border-2 border-rose-500" *ngIf="switchCase">Add
                                    </button>
                                </div>
                                <div class="flex flex-row  items-start w-full gap-6">
                                    <span class=" leading-2 text-white font-bold text-sm "> Does your experience include
                                        transport ? </span>
                                    <label for="red-toggle"
                                        class="inline-flex relative items-center mr-5 cursor-pointer gap-4">
                                        <input type="checkbox" value="ch2" id="red-toggle" class="sr-only peer"
                                            (change)="toggleButton2()">
                                        <div
                                            class="h-6 w-28 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 relative
                                         dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white
                                          after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border 
                                          after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-500">
                                        </div>
                                    </label>
                                </div>
                                <div class="flex justify-start">
                                    <button class="verify-buttonexp border-2 border-rose-500" *ngIf="switchCase2">Add
                                    </button>
                                </div>
                                <div class="flex flex-row items-start w-full gap-8">
                                    <span class=" leading-2 text-white font-bold text-sm "> Does your experience include
                                        Lodging ? </span>
                                    <label for="red-toggle3"
                                        class="inline-flex relative items-center mr-5 cursor-pointer gap-4">
                                        <input type="checkbox" value="ch3" id="red-toggle3" class="sr-only peer"
                                            (change)="toggleButton3()">
                                        <div
                                            class="w-28 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 
                                        dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] 
                                        after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full 
                                        after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-500 gap-6">
                                        </div>
                                    </label>
                                </div>
                                <div class="flex justify-start">
                                    <button class="verify-buttonexp border-2 border-rose-500" *ngIf="switchCase3">Add
                                    </button>
                                </div>
                            </div>
                            <div class="flex flex-col justify-center w-full mt-5">

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </ng-container>
        <ng-container>
            <div class="flex flex-col md:flex-col justify-center w-full">
                <form [formGroup]="Form5Experience" *ngIf="step == 5">
                    <div class="flex-1 h-full max-w-5xl mt-5 mx-auto ">
                        <div class="flex flex-col gap-5 md:flex-row">
                            <div class="flex flex-col justify-center w-full mt-5 gap-10">
                                <div class="flex flex-row  items-start w-full gap-14">
                                    <div class="flex flex-col items-start w-full">
                                        <span class=" leading-2 text-white font-bold text-sm "> Who can participate in
                                            your experience ? </span>
                                        <span class=" leading-5 text-white  text-xs "> Remember that the person booking
                                            your experience can also book for others.</span>
                                        <span class=" leading-5 text-white  text-xs ">So if there are any age
                                            restrictions, certifications, or skill requirements, add them here. </span>
                                        <div class="flex flex-col items-start w-full gap-2 mt-3">
                                            <span class=" leading-2 text-white font-bold text-base "> Minimum Age :
                                            </span>
                                            <div class="p-field p-col-12 p-md-3 w-40 h-10 ">
                                                <p-inputNumber [showButtons]="true" inputId="expiry" prefix=""
                                                    suffix=" Years Old" formControlName="minAge">
                                                </p-inputNumber>
                                            </div>
                                        </div>
                                        <div class="flex flex-row  items-start w-full gap-x-24 mt-4">
                                            <span class=" leading-2 text-white font-bold text-sm "> Are Pets Allowed ?
                                            </span>
                                            <label for="red-toggle1"
                                                class="inline-flex relative items-center mr-5 cursor-pointer gap-4">
                                                <input type="checkbox" value="ch1" id="red-toggle1" class="sr-only peer"
                                                    formControlName="petsAllowed">
                                                <div
                                                    class="w-28 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4  peer-focus:ring-red-300 
                                                    dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white 
                                                    after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border 
                                                    after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-500">
                                                </div>
                                            </label>
                                        </div>
                                        <div class="flex flex-col items-start w-full mt-4">
                                            <span class=" leading-2 text-white font-bold text-sm mb-3 ">Other criteria
                                                (150 letters max) :</span>
                                            <textarea
                                                class="form-control p-2 block  w-[500px] h-24 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-md
                                                 transition ease-in-out  m-0  focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                id="exampleFormControlTextarea1" rows="3" minlength="1"
                                                formControlName="otherCritics"
                                                placeholder="Remember that the person booking your experience can also book for others.So if there are any age restrictions, certifications, or skill requirements, add them here."></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="flex flex-row  items-start w-full gap-6">

                                </div>

                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </ng-container>

        <div class="flex justify-center w-full mb-5 fixed bottom-8">
            <div class="mt-6 flex items-center justify-between gap-4 w-full max-w-7xl">
                <div class="flex justify-center ">
                    <button class="previous-buttonexp border-2  border-rose-500" (click)="step = step-1"
                        *ngIf="step > 1">Previous</button>
                </div>
                <div *ngIf="step <= 1"></div>
                <div class="flex gap-4" *ngIf="step == (isselected == 'organisation' ? 5 : 5) ">
                    <div class="flex justify-center  ">
                        <button class="verify-buttonexp border-2 border-rose-500" (click)="step = step">Verify</button>
                    </div>
                    <div class="flex justify-center ">
                        <button class="primary-buttonexp border-2  border-rose-500" (click)="step = step"
                            (click)="AddFullExperience()">Confirm</button>
                    </div>
                </div>
                <div class="flex" *ngIf="step < (isselected == 'organisation' ? 5 : 5) ">
                    <button class="primary-buttonexp   border-2 border-red-500" (click)="step = step+1">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>